<!-- <!DOCTYPE html>
<html>
<head>
  <title>SimpleCms</title>
  <%#= stylesheet_link_tag    "application", :media => "all" %>
  <%#= stylesheet_link_tag    "public", "admin", :media => "all" %>
  <%#= javascript_include_tag "application" %>
  <%#= csrf_meta_tags %>
</head>
<body>

<%#= yield %>

</body>
</html> -->
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Simple CMS | <%= @page_title || 'Admin Area'%></title>
 		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= stylesheet_link_tag('public','admin', :media => 'all') %>
		<%= javascript_include_tag 'application' %>
   		<%= csrf_meta_tags %>
		<meta name ="author" content="Mayank Kunawat">
	</head>
	<body>
		<div id="header">
			<h1>Simple CMS Admin</h1>
		</div>
		<div id="main">
			<div class="notice">
				<%= flash[:notice]%>
			</div>
			<div id="content">
				<%= yield %>
			</div>
		</div>
		<div id ="footer">
			<p id="copyright">&copy; mkunawat.com / Mayank Kunawat</p>
		</div>
		</body>
		</html>

	</body>
</html>